.user-card__wrap {
  padding-bottom: 24px;
  background-color: var(--color-white);
  border-radius: 6px;
}

.user-card__wrap:not(:last-child) {
  margin-bottom: 24px;
}

.user__card {
  max-height: 112px-24px;
  max-width: 877px;
  background-color: var(--color-white);
  padding: 24px 32px;
  border-radius: 6px;
  overflow: hidden;
}

.user-card__title {
  color: var(--color-blue);
  font-weight: var(--fw-bold);
  font-size: var(--fs-24);
  line-height: 1.2;
  margin-bottom: 16px;
  word-break: break-all;
}

.user-card__descr {
  color: var(--color-black);
  font-size: 16px;
  line-height: 1.2;
  font-weight: var(--fw-light);
  overflow: hidden;
  word-break: break-all;
}

