.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.repositoryEmpty__image {
  margin-bottom: 48px;
}

.repositoryEmpty__text {
  font-weight: var(--fw-light);
  font-size: 22px;
  line-height: 31px;
  color: var(--color-grey);
}