.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.userNotFound__image {
  margin-bottom: 47px;
}

.userNotFound__text {
  font-weight: var(--fw-light);
  font-size: 22px;
  line-height: 31px;
  color: var(--color-grey);
  text-align: center;
}
